<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.p8t.blog.mapper.TagMapper">
    <select id="findByUserId" resultType="cc.p8t.blog.entity.Tag">
        select id, tagname, user_id
        from tag
        where user_id = #{userId}
    </select>

    <select id="findById" resultType="cc.p8t.blog.entity.Tag">
        select id, tagname, user_id
        from tag
        where id = #{tagId}
    </select>

    <select id="findByName" resultType="cc.p8t.blog.entity.Tag">
        select id
        from tag
        where tagname = #{tagName}
          and tag.user_id = #{userId}
    </select>

    <insert id="insertTag">
        insert into tag(tagname, user_id)
        values (#{tag.tagname}, #{tag.user.id})
    </insert>

    <select id="existInArticle" resultType="java.lang.Boolean">
        select count(1)
        from article,
             fk_article_tag
        where article.id = fk_article_tag.article_id
          and fk_article_tag.tag_id = #{tagId}
        limit 1
    </select>

    <delete id="deleteById">
        delete
        from tag
        where id = #{tagId}
    </delete>

    <update id="updateById">
        update tag
        set tagname = #{tag.tagname}
        where id = #{tag.id}
    </update>
</mapper>