*/node_modules
*/dist/


*/.vscode
*/.idea
*/*.iml

*/target/
*/build/
*/log/
**/test/

!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

