server:
  port: 8888
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/blog?serverTimezone=Asia/Shanghai
    username: root
    password: AZ142857.
    driver-class-name: com.mysql.cj.jdbc.Driver
    type: com.alibaba.druid.pool.DruidDataSource
    druid:
      initial-size: 5
      max-active: 20
      # 最少连接数
      min-idle: 5
      max-wait: 60000
      # 监控统计用的filter:stat 日志用的filter:log4j 防御sql注入的filter:wall
      filters: stat,wall,log4j2

      use-global-data-source-stat: true
      connection-properties: druid.stat.mergeSql=true;druid.stat.slowSqlMillis=5000
      # 可视化监控, 从项目根目录下的/admin进入
      stat-view-servlet:
        enabled: true
        login-username: admin
        login-password: 123456

logging:
  # 日志级别
  level:
    root: info
    cc.p8t.blog: info
  # 日志文件位置
  file:
    name: log/blog.log
#  config: classpath:logback-spring.xml

mybatis:
  config-location: classpath:mybatis/mybatis-config.xml
  mapper-locations: classpath:mybatis/mapper/*.xml


